@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #f9fafb; /* Abu-abu sangat muda (gray-50) */
  --foreground: #111827; /* Hitam kebiruan (gray-900) */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
}

/* Tambahan agar input form terlihat jelas */
input, textarea {
  color: #111827 !important;
  background-color: #ffffff !important;
}